.dairy__container {
  display: flex;
}

.dairy__titleContainer {
  width: 15vw;
  min-height: 100vh;
  background-color: #2c2f3e;
  padding: 25px 30px;
}

.dairy__title {
  font-family: 'Abel', sans-serif;
  font-weight: 400;
  color: #fff;
  font-size: 36px;
  text-transform: uppercase;
  margin: 0;
}

.dairy__title_text {
  color: #6e717a;
  font-size: 18px;
  margin: 7px 0;
}



